<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon"  href="/groupProject-2/DishSwap/public/images/restaurant_FILL0_wght400_GRAD0_opsz48.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DishSwap</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="custom.css"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money"></span>
        <a href="/">DishSwap</a>
      </h1>

  <header>
 <div class="search-box">
  <input type="text" id="searchInput" placeholder="Search for Recipe" >
  <button id="searchButton"><i class="fas fa-search"></i></button> <!-- Assuming you are using Font Awesome for the magnifying glass icon -->
</div>
  </header>
  



       <nav>
 
{{#if logged_in}}
  <div class="dropdown is-hoverable is-right"  style="position: relative;">
    <div class="dropdown-trigger">
      <button class="button" class="is" aria-haspopup="true" aria-controls="dropdown-menu4">
        <i class="fa-duotone fa-circle-chevron-down fa-lg" style="--fa-primary-color: #0735ed; --fa-secondary-color: #9fa0a3;"></i>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="position: absolute; right: 0;">
      <div class="dropdown-content">
        <a href="/recipeCreate" class="dropdown-item">Create Recipe</a>
        <a href="/profile" class="dropdown-item">Profile</a>
        <button class="no-button dropdown-item" id="logout">Logout</button>
      </div>
    </div>
  </div>
{{else}}
  {{!-- Button for non-logged-in users --}}
  <button class="no-button" id="login-button">
    <a href="/login">Create Account/Login</a>
  </button>
{{/if}}

      </nav> 
    </header>


    
     <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}

    </main> 
     <main  id="main-image">
   <img src="/images/ella-olsson-rD3YrnhTmf0-unsplash.jpg" style="max-width: 100%; max-height: 750px; width: 100%;">
    </main> 

    <section class="popular-recipes">
  <div class="container">
    <h2>Popular Recipes</h2>
    <div class="recipe-boxes">
      {{#each popularRecipes}}
      <div class="recipe-box">
        <img src="{{image}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <a href="/recipes/{{id}}">View Recipe</a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
 
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
 
  
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  <script src="/groupProject-2/DishSwap/public/js/main.js"></script>
</body>

</html>
