<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon"  href="/groupProject-2/DishSwap/public/images/restaurant_FILL0_wght400_GRAD0_opsz48.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DishSwap</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money"></span>
        <a href="/">DishSwap</a>
      </h1>

  <header>
  <div class="search-box">
    <input type="text" placeholder="Search for Recipe &#x1F50D" >
  </div>
  </header>
  
{{!-- 
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-duotone fa-circle-chevron-down fa-lg" style="--fa-primary-color: #0735ed; --fa-secondary-color: #9fa0a3;"></i>
    
  </button>
  <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
    <a href="#">Menu Item 1</a>
    <a href="#">Menu Item 2</a>
    <a href="#">Menu Item 3</a>
    <!-- Add more menu items as needed -->
  </div>
</div>


       <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">Create Account/Login</button>
        <a href="/profile">profile</a> |       
        {{else}}
        <a href="/login">Create Account/Login</a>

        {{/if}}

         {{!-- {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">Create Account/Login</button>
        {{else}}
        <a href="/login">Create Account/Login</a>
        {{/if}} --}}
      {{!-- </nav> 
    {{!-- </header> --}} --}} 

     <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-duotone fa-circle-chevron-down fa-lg" style="--fa-primary-color: #0735ed; --fa-secondary-color: #9fa0a3;"></i>
        </button>
        <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
          {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button class="no-button" id="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
            <a href="/create-account">Create Account</a>
          {{/if}}
        </div>
      </div>
    </header>



     <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}

    </main> 
     <main  id="main-image">
   <img src="/images/ella-olsson-rD3YrnhTmf0-unsplash.jpg" style="max-width: 100%; max-height: 750px; width: 100%;">
    </main> 

    <section class="popular-recipes">
  <div class="container">
    <h2>Popular Recipes</h2>
    <div class="recipe-boxes">
      {{#each popularRecipes}}
      <div class="recipe-box">
        <img src="{{image}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <a href="/recipes/{{id}}">View Recipe</a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
 
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
